 # Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# macOS
.DS_Store

# Data
*.parquet
*.csv

# VSCode
.vscode/
